script(async src="https://www.googletagmanager.com/gtag/js?id=UA-59964148-8")

script
  include analytics.js

chat-widget(
  location-id="BhMyXQBXrbOKl3HcpQrO"
  agency-name="espidesigns" 
  agency-website="www.espidesigns.com" 
  chat-type="liveChat" 
  live-chat-feedback-note="Thank you, for taking your time." 
  show-consent-checkbox="true"
)

script(
  src="https://widgets.leadconnectorhq.com/loader.js" 
  data-resources-url="https://widgets.leadconnectorhq.com/chat-widget/loader.js"
)