- var currentPath = htmlWebpackPlugin.options.filename

//- Template mixin for case studies
mixin template({ id, title, category, company, role, technologies, link, label, gallery })
  article.case(id=id)
    header.case__header
      h3.case__title
        span.case__title__text=title

      figure.case__media
        img.case__media__image(
          data-src=`/projects/${id}.png`
          data-src-webp=`/projects/${id}.webp`
        )

    .case__information
      p.case__information__detail
        | #[strong.case__information__detail__title Company]
        | #{company}

      p.case__information__detail
        | #[strong.case__information__detail__title Role]
        | #{role}

      p.case__information__detail
        | #[strong.case__information__detail__title Technologies]
        | #{technologies}

      if link
        p.case__information__detail
          | #[strong.case__information__detail__title #{label}]
          | #[a(href=link target="_blank" rel="noreferrer noopener") View →]

    .case__gallery
      each content, index in gallery
        .case__gallery__media
          .case__gallery__media__box(style=`max-width: ${content.width / 10}rem;`)
            span.case__gallery__media__loader
              span
              span
              span

            span.case__gallery__media__placeholder(
              data-src=`/case/${id}/${content.image}.png`
              data-src-webp=`/case/${id}/${content.image}.webp`
              style=`padding-top: ${content.height / content.width * 100}%;`
            )

.cases
  +template({
    id: 'micheal-moon',
    title: 'MICHEAL MOON',
    company: 'Timark Wines',
    role: 'Brand Designer',
    technologies: 'Photoshop',
    label: 'Launch Website',
    link: 'https://www.timarkwines.com/',
    gallery: [
      { image: '1', type: 'lockup', height: '1080', width: '1920' },
      { image: '2', type: 'lockup', height: '1080', width: '1920' },
      { image: '3', type: 'mockup', height: '1080', width: '1920' },
      { image: '4', type: 'instagram', height: '1080', width: '1080' },
      { image: '5', type: 'instagram', height: '1080', width: '1080' },
    ]
  })

  //- +template({
  //-   id: 'vanitee',
  //-   title: 'VANITEE',
  //-   company: 'Vanity Trove',
  //-   role: 'UI/UX Designer',
  //-   technologies: 'Sketch · Zeplin · Origami · XCode · Android Studio',
  //-   label: 'Launch Website',
  //-   link: 'https://www.vanitee.com/',
  //-   gallery: [
  //-     { image: '1', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '2', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '3', type: 'mockup', height: '1080', width: '1920' },
  //-     { image: '4', type: 'mockup', height: '1080', width: '1920' },
  //-     { image: '5', type: 'mockup', height: '1080', width: '1920' },
  //-     { image: '6', type: 'mockup', height: '1080', width: '1920' },
  //-   ]
  //- })

  //- +template({
  //-   id: 'diners-club',
  //-   title: 'DINERS CLUB',
  //-   company: 'Diners Club Singapore',
  //-   role: 'Senior Web Developer · UI/UX Developer',
  //-   technologies: 'NodeJS · Express · ASP · C#',
  //-   label: 'Launch Website',
  //-   link: 'https://www.dinersclub.com.sg/',
  //-   gallery: [
  //-     { image: '1', type: 'screenshot', height: '978', width: '1920' },
  //-     { image: '2', type: 'screenshot', height: '1124', width: '1920' },
  //-     { image: '3', type: 'screenshot', height: '1546', width: '1920' },
  //-     { image: '4', type: 'screenshot', height: '1124', width: '1920' },
  //-     { image: '5', type: 'screenshot', height: '1139', width: '1920' },
  //-   ]
  //- })

  +template({
    id: 'caasocio',
    title: 'CAASOCIO',
    company: 'Freelance',
    role: 'Logo Designer',
    technologies: 'Illustrator',
    label: 'Launch Website',
    link: 'https://www.caasocio.com/',
    gallery: [
      { image: '1', type: 'screenshot', height: '1080', width: '1920' },
      { image: '2', type: 'screenshot', height: '1080', width: '1920' },
      { image: '3', type: 'screenshot', height: '1080', width: '1920' },
      { image: '4', type: 'screenshot', height: '1080', width: '1920' },
      { image: '5', type: 'screenshot', height: '1080', width: '1920' },
    ]
  })

  //- +template({
  //-   id: 'dcscc',
  //-   title: 'DCS CARD CENTRE',
  //-   company: 'DCS Card Centre',
  //-   role: 'UI/UX Developer',
  //-   technologies: 'NodeJS · JavaScript',
  //-   label: 'Launch Website',
  //-   link: 'https://dcscc.com/',
  //-   gallery: [
  //-     { image: '1', type: 'screenshot', height: '1400', width: '1920' },
  //-     { image: '2', type: 'screenshot', height: '1140', width: '1920' },
  //-     { image: '3', type: 'screenshot', height: '1870', width: '1920' },
  //-     { image: '4', type: 'screenshot', height: '1720', width: '1920' },
  //-     { image: '5', type: 'screenshot', height: '1630', width: '1920' },
  //-     { image: '6', type: 'screenshot', height: '1400', width: '1920' },
  //-   ]
  //- })

  +template({
    id: 'angely-dub',
    title: 'ANGELY DUB',
    company: 'Angely Dub',
    role: 'SquareSpace Developer',
    technologies: 'SquareSpace · JavaScript',
    label: 'Launch Website',
    link: 'https://www.angelydub.com/',
    gallery: [
      { image: '1', type: 'screenshot', height: '1182', width: '1920' },
      { image: '2', type: 'screenshot', height: '1249', width: '1920' },
      { image: '3', type: 'screenshot', height: '1328', width: '1920' },
      { image: '4', type: 'screenshot', height: '1328', width: '1920' },
    ]
  })

  +template({
    id: 'access-travel',
    title: 'ACCESS TRAVEL',
    company: 'Angely Dub',
    role: 'Webflow Developer',
    technologies: 'Webflow · JavaScript · ReactJS',
    label: 'Launch Website',
    link: 'https://travelwithaccess.com/',
    gallery: [
      { image: '1', type: 'screenshot', height: '1080', width: '1920' },
      { image: '1a', type: 'screenshot', height: '1080', width: '1920' },
      { image: '1b', type: 'screenshot', height: '1080', width: '1920' },
      { image: '1c', type: 'screenshot', height: '1080', width: '1920' },
      { image: '1d', type: 'screenshot', height: '1080', width: '1920' },
      { image: '2', type: 'screenshot', height: '1080', width: '1920' },
      { image: '3', type: 'screenshot', height: '1080', width: '1920' },
      { image: '4', type: 'screenshot', height: '1080', width: '1920' },
      { image: '5', type: 'screenshot', height: '1080', width: '1920' },
      { image: '6', type: 'screenshot', height: '1080', width: '1920' },
      { image: '7', type: 'screenshot', height: '1080', width: '1920' },
      { image: '8', type: 'screenshot', height: '1080', width: '1920' },
      { image: '9', type: 'screenshot', height: '1080', width: '1920' },
      { image: '10', type: 'screenshot', height: '1080', width: '1920' },
      { image: '11', type: 'screenshot', height: '1080', width: '1920' },
      { image: '12', type: 'screenshot', height: '1080', width: '1920' },
    ]
  })

  +template({
    id: 'explora-ahora',
    title: 'EXPLORA AHORA',
    company: 'Angely Dub',
    role: 'Webflow Developer',
    technologies: 'Webflow · JavaScript',
    label: 'Launch Website',
    link: 'https://explora-ahora.com/',
    gallery: [
      { image: '1', type: 'screenshot', height: '1080', width: '1920' },
      { image: '2', type: 'screenshot', height: '1080', width: '1920' },
      { image: '3', type: 'screenshot', height: '1080', width: '1920' },
      { image: '4', type: 'screenshot', height: '1080', width: '1920' },
      { image: '5', type: 'screenshot', height: '1080', width: '1920' },
      { image: '6', type: 'screenshot', height: '1080', width: '1920' },
      { image: '7', type: 'screenshot', height: '1080', width: '1920' },
      { image: '8', type: 'screenshot', height: '1080', width: '1920' },
      { image: '9', type: 'screenshot', height: '1080', width: '1920' },
    ],
  })

  +template({
    id: 'collabfive',
    title: 'COLLAB FIVE',
    company: 'CollabFive',
    role: 'Chief Technical Officer',
    technologies: 'Webflow · JavaScript',
    label: 'Launch Website',
    link: 'https://collabfive.webflow.io/',
    gallery: [
      { image: '1', type: 'screenshot', height: '1080', width: '1920' },
      { image: '2', type: 'screenshot', height: '1080', width: '1920' },
      { image: '3', type: 'screenshot', height: '1080', width: '1920' },
      { image: '4', type: 'screenshot', height: '1080', width: '1920' },
      { image: '5', type: 'screenshot', height: '1080', width: '1920' },
      { image: '6', type: 'screenshot', height: '1080', width: '1920' },
    ],
  })

  +template({
    id: 'retrato',
    title: 'RETRATO.PH',
    company: 'Retrato.ph Photographic Art',
    role: 'Chief Technical Officer',
    technologies: 'NextJS · JavaScript',
    label: 'Launch Website',
    link: 'https://retrato.ph',
    gallery: [
      { image: '1', type: 'screenshot', height: '1080', width: '1920' },
      { image: '2', type: 'screenshot', height: '1080', width: '1920' },
      { image: '3', type: 'screenshot', height: '1080', width: '1920' },
      { image: '4', type: 'screenshot', height: '1080', width: '1920' },
      { image: '5', type: 'screenshot', height: '1080', width: '1920' },
      { image: '6', type: 'screenshot', height: '1080', width: '1920' },
    ],
  })

  +template({
    id: 'venatus',
    title: 'VENATUS',
    company: 'Venatus Media Limited',
    role: 'Webflow Developer',
    technologies: 'Webflow · JavaScript',
    label: 'Launch Website',
    gallery: [
      { image: '1', type: 'screenshot', height: '1080', width: '1920' },
      { image: '2', type: 'screenshot', height: '1080', width: '1920' },
      { image: '3', type: 'screenshot', height: '1080', width: '1920' },
      { image: '4', type: 'screenshot', height: '1080', width: '1920' },
      { image: '5', type: 'screenshot', height: '1080', width: '1920' },
      { image: '6', type: 'screenshot', height: '1080', width: '1920' },
      { image: '7', type: 'screenshot', height: '1080', width: '1920' },
      { image: '8', type: 'screenshot', height: '1080', width: '1920' },
      { image: '9', type: 'screenshot', height: '1080', width: '1920' },
      { image: '10', type: 'screenshot', height: '1080', width: '1920' },
      { image: '11', type: 'screenshot', height: '1080', width: '1920' },
      { image: '12', type: 'screenshot', height: '1080', width: '1920' },
      { image: '13', type: 'screenshot', height: '1080', width: '1920' },
      { image: '14', type: 'screenshot', height: '1080', width: '1920' },
      { image: '15', type: 'screenshot', height: '1080', width: '1920' },
      { image: '16', type: 'screenshot', height: '1080', width: '1920' },
      { image: '17', type: 'screenshot', height: '1080', width: '1920' },
    ],
    link: 'https://www.venatus.com/'
  })

  +template({
    id: 'adinplay',
    title: 'ADINPLAY',
    company: 'Venatus Media Limited',
    role: 'Webflow Developer',
    technologies: 'Webflow · JavaScript',
    label: 'Launch Website',
    gallery: [
      { image: '1', type: 'screenshot', height: '1080', width: '1920' },
      { image: '2', type: 'screenshot', height: '1080', width: '1920' },
      { image: '3', type: 'screenshot', height: '1080', width: '1920' },
      { image: '4', type: 'screenshot', height: '1080', width: '1920' },
      { image: '5', type: 'screenshot', height: '1080', width: '1920' },
    ],
    link: 'https://adinplay.com/'
  })

  +template({
    id: 'simmer-studios',
    title: 'SIMMER STUDIOS',
    company: 'Simmer Studios',
    role: 'Interactive Developer',
    technologies: 'ReactJS · GSAP',
    label: 'Launch Website',
    link: 'https://www.simmer-studios.com/',
    gallery: [
      { image: '1', type: 'screenshot', height: '1080', width: '1920' },
      { image: '2', type: 'screenshot', height: '1080', width: '1920' },
      { image: '3', type: 'screenshot', height: '1080', width: '1920' },
      { image: '4', type: 'screenshot', height: '1080', width: '1920' },
      { image: '5', type: 'screenshot', height: '1080', width: '1920' },
      { image: '6', type: 'screenshot', height: '1080', width: '1920' },
      { image: '7', type: 'screenshot', height: '1080', width: '1920' },
      { image: '8', type: 'screenshot', height: '1080', width: '1920' },
      { image: '9', type: 'screenshot', height: '1080', width: '1920' },
      { image: '10', type: 'screenshot', height: '1080', width: '1920' },
      { image: '11', type: 'screenshot', height: '1080', width: '1920' },
      { image: '12', type: 'screenshot', height: '1080', width: '1920' },
      { image: '13', type: 'screenshot', height: '1080', width: '1920' },
      { image: '14', type: 'screenshot', height: '1080', width: '1920' },
    ]
  })

  +template({
    id: 'gaslight-district',
    title: 'THE GASLIGHT DISTRICT',
    company: 'The Gaslight District',
    role: 'Web Developer',
    technologies: 'Webflow · JavaScript · GSAP',
    label: 'Launch Website',
    link: 'https://www.gaslightdistrict.ca/',
    gallery: [
      { image: '1', type: 'screenshot', height: '1960', width: '1920' },
      { image: '3', type: 'screenshot', height: '1899', width: '1920' },
      { image: '4', type: 'screenshot', height: '1603', width: '1920' },
      { image: '5', type: 'screenshot', height: '1894', width: '1920' },
      { image: '6', type: 'screenshot', height: '1080', width: '1920' },
      { image: '7', type: 'screenshot', height: '1080', width: '1920' },
      { image: '8', type: 'screenshot', height: '1080', width: '1920' },
      { image: '9', type: 'screenshot', height: '1080', width: '1920' },
      { image: '10', type: 'screenshot', height: '1080', width: '1920' },
      { image: '11', type: 'screenshot', height: '1080', width: '1920' },
      { image: '12', type: 'screenshot', height: '2411', width: '1920' },
      { image: '13', type: 'screenshot', height: '1583', width: '1920' },
      { image: '14', type: 'screenshot', height: '2481', width: '1920' },
      { image: '15', type: 'screenshot', height: '3289', width: '1920' },
    ]
  })

  +template({
    id: 'hip-developments',
    title: 'HIP DEVELOPMENTS',
    company: 'HIP Developments',
    role: 'Web Developer',
    technologies: 'Coming Soon',
    label: 'Coming Soon',
    gallery: [
      { image: 'coming-soon', type: 'screenshot', height: '1080', width: '1920' }
    ]
  })
