mixin template({ id, title, category, company, role, technologies, link, label, gallery })
  article.case(id=id)
    header.case__header
      h3.case__title
        span.case__title__text=title

      figure.case__media
        img.case__media__image(
          data-src=`/projects/${id}.jpg`
          data-src-webp=`/projects/${id}.webp`
        )

    .case__information
      p.case__information__detail
        | #[strong.case__information__detail__title Company]
        | #{company}

      p.case__information__detail
        | #[strong.case__information__detail__title Role]
        | #{role}

      p.case__information__detail
        | #[strong.case__information__detail__title Technologies]
        | #{technologies}

      if link
        p.case__information__detail
          | #[strong.case__information__detail__title #{label}]
          | #[a(href=link target="_blank" rel="noreferrer noopener") View →]

    .case__gallery
      each content, index in gallery
        .case__gallery__media
          .case__gallery__media__box(style=`max-width: ${content.width / 10}rem;`)
            span.case__gallery__media__loader
              span
              span
              span

            span.case__gallery__media__placeholder(
              data-src=`/case/${id}/${content.image}.png`
              data-src-webp=`/case/${id}/${content.image}.webp`
              style=`padding-top: ${content.height / content.width * 100}%;`
            )

.cases
  +template({
    id: 'micheal-moon',
    title: 'MICHEAL MOON',
    company: 'Timark Wines',
    role: 'Brand Designer',
    technologies: 'Photoshop',
    label: 'Launch Website',
    link: 'https://www.timarkwines.com/',
    gallery: [
      { image: '1', type: 'lockup', height: '1080', width: '1920' },
      { image: '2', type: 'lockup', height: '1080', width: '1920' },
      { image: '3', type: 'mockup', height: '1080', width: '1920' },
      { image: '4', type: 'instagram', height: '1080', width: '1080' },
      { image: '5', type: 'instagram', height: '1080', width: '1080' },
    ]
  })

  +template({
    id: 'vanitee',
    title: 'VANITEE',
    company: 'Vanity Trove',
    role: 'UI/UX Designer',
    technologies: 'Sketch · Zeplin · Origami · XCode · Android Studio',
    label: 'Launch Website',
    link: 'https://www.vanitee.com/',
    gallery: [
      { image: '1', type: 'screenshot', height: '1080', width: '1920' },
      { image: '2', type: 'screenshot', height: '1080', width: '1920' },
      { image: '3', type: 'mockup', height: '1080', width: '1920' },
      { image: '4', type: 'mockup', height: '1080', width: '1920' },
      { image: '5', type: 'mockup', height: '1080', width: '1920' },
      { image: '6', type: 'mockup', height: '1080', width: '1920' },
    ]
  })

  +template({
    id: 'diners-club',
    title: 'DINERS CLUB',
    company: 'Diners Club Singapore',
    role: 'Senior Web Developer · UI/UX Developer',
    technologies: 'NodeJS · Express · ASP · C#',
    label: 'Launch Website',
    link: 'https://www.dinersclub.com.sg/',
    gallery: [
      { image: '1', type: 'screenshot', height: '978', width: '1920' },
      { image: '2', type: 'screenshot', height: '1124', width: '1920' },
      { image: '3', type: 'screenshot', height: '1546', width: '1920' },
      { image: '4', type: 'screenshot', height: '1124', width: '1920' },
      { image: '5', type: 'screenshot', height: '1139', width: '1920' },
    ]
  })

  +template({
    id: 'caasocio',
    title: 'CAASOCIO',
    company: 'Freelance',
    role: 'Logo Designer',
    technologies: 'Illustrator',
    label: 'Launch Website',
    link: 'https://www.caasocio.com/',
    gallery: [
      { image: '1', type: 'screenshot', height: '1080', width: '1920' },
      { image: '2', type: 'screenshot', height: '1080', width: '1920' },
      { image: '3', type: 'screenshot', height: '1080', width: '1920' },
      { image: '4', type: 'screenshot', height: '1080', width: '1920' },
      { image: '5', type: 'screenshot', height: '1080', width: '1920' },
    ]
  })

  +template({
    id: 'dcscc',
    title: 'DCS CARD CENTRE',
    company: 'DCS Card Centre',
    role: 'UI/UX Developer',
    technologies: 'NodeJS · JavaScript',
    label: 'Launch Website',
    link: 'https://dcscc.com/',
    gallery: [
      { image: '1', type: 'screenshot', height: '1400', width: '1920' },
      { image: '2', type: 'screenshot', height: '1140', width: '1920' },
      { image: '3', type: 'screenshot', height: '1870', width: '1920' },
      { image: '4', type: 'screenshot', height: '1720', width: '1920' },
      { image: '5', type: 'screenshot', height: '1630', width: '1920' },
      { image: '6', type: 'screenshot', height: '1400', width: '1920' },
    ]
  })

  +template({
    id: 'angely-dub',
    title: 'ANGELY DUB',
    company: 'Angely Dub',
    role: 'SquareSpace Developer',
    technologies: 'SquareSpace · JavaScript',
    label: 'Launch Website',
    link: 'https://www.angelydub.com/',
    gallery: [
      { image: '1', type: 'screenshot', height: '1182', width: '1920' },
      { image: '2', type: 'screenshot', height: '1249', width: '1920' },
      { image: '3', type: 'screenshot', height: '1328', width: '1920' },
      { image: '4', type: 'screenshot', height: '1328', width: '1920' },
    ]
  })

  +template({
    id: 'access-travel',
    title: 'ACCESS TRAVEL',
    company: 'Angely Dub',
    role: 'Webflow Developer',
    technologies: 'Webflow · JavaScript · ReactJS',
    label: 'Launch Website',
    link: 'https://travelwithaccess.com/',
    gallery: [
      { image: '1', type: 'screenshot', height: '1080', width: '1920' },
      { image: '2', type: 'screenshot', height: '1080', width: '1920' },
      { image: '3', type: 'screenshot', height: '1080', width: '1920' },
      { image: '4', type: 'screenshot', height: '1080', width: '1920' },
      { image: '5', type: 'screenshot', height: '1080', width: '1920' },
      { image: '6', type: 'screenshot', height: '1080', width: '1920' },
      { image: '7', type: 'screenshot', height: '1080', width: '1920' },
      { image: '8', type: 'screenshot', height: '1080', width: '1920' },
      { image: '9', type: 'screenshot', height: '1080', width: '1920' },
    ]
  })

  +template({
    id: 'explora-ahora',
    title: 'EXPLORA AHORA',
    company: 'Angely Dub',
    role: 'Webflow Developer',
    technologies: 'Webflow · JavaScript',
    label: 'Launch Website',
    link: 'https://explora-ahora.com/',
    gallery: [
      { image: '1', type: 'screenshot', height: '1080', width: '1920' },
      { image: '2', type: 'screenshot', height: '1080', width: '1920' },
      { image: '3', type: 'screenshot', height: '1080', width: '1920' },
      { image: '4', type: 'screenshot', height: '1080', width: '1920' },
      { image: '5', type: 'screenshot', height: '1080', width: '1920' },
      { image: '6', type: 'screenshot', height: '1080', width: '1920' },
      { image: '7', type: 'screenshot', height: '1080', width: '1920' },
      { image: '8', type: 'screenshot', height: '1080', width: '1920' },
      { image: '9', type: 'screenshot', height: '1080', width: '1920' },
    ],
  })

  +template({
    id: 'collabfive',
    title: 'COLLAB FIVE',
    company: 'CollabFive',
    role: 'Chief Technical Officer',
    technologies: 'Webflow · JavaScript',
    label: 'Launch Website',
    link: 'https://www.collabfive.com',
    gallery: [
      { image: '1', type: 'screenshot', height: '1080', width: '1920' },
      { image: '2', type: 'screenshot', height: '1080', width: '1920' },
      { image: '3', type: 'screenshot', height: '1080', width: '1920' },
      { image: '4', type: 'screenshot', height: '1080', width: '1920' },
      { image: '5', type: 'screenshot', height: '1080', width: '1920' },
      { image: '6', type: 'screenshot', height: '1080', width: '1920' },
    ],
  })

  +template({
    id: 'retrato',
    title: 'RETRATO.PH',
    company: 'Retrato.ph Photographic Art',
    role: 'Chief Technical Officer',
    technologies: 'NextJS · JavaScript',
    label: 'Launch Website',
    link: 'https://retrato.ph',
    gallery: [
      { image: '1', type: 'screenshot', height: '1080', width: '1920' },
      { image: '2', type: 'screenshot', height: '1080', width: '1920' },
      { image: '3', type: 'screenshot', height: '1080', width: '1920' },
      { image: '4', type: 'screenshot', height: '1080', width: '1920' },
      { image: '5', type: 'screenshot', height: '1080', width: '1920' },
      { image: '6', type: 'screenshot', height: '1080', width: '1920' },
    ],
  })

  +template({
    id: 'venatus',
    title: 'VENATUS',
    company: 'Venatus Media Limited',
    role: 'Webflow Developer',
    technologies: 'Webflow · JavaScript',
    label: 'Launch Website',
    gallery: [
      { image: '1', type: 'screenshot', height: '1080', width: '1920' },
      { image: '2', type: 'screenshot', height: '1080', width: '1920' },
      { image: '3', type: 'screenshot', height: '1080', width: '1920' },
      { image: '4', type: 'screenshot', height: '1080', width: '1920' },
      { image: '5', type: 'screenshot', height: '1080', width: '1920' },
      { image: '6', type: 'screenshot', height: '1080', width: '1920' },
      { image: '7', type: 'screenshot', height: '1080', width: '1920' },
      { image: '8', type: 'screenshot', height: '1080', width: '1920' },
      { image: '9', type: 'screenshot', height: '1080', width: '1920' },
      { image: '10', type: 'screenshot', height: '1080', width: '1920' },
      { image: '11', type: 'screenshot', height: '1080', width: '1920' },
      { image: '12', type: 'screenshot', height: '1080', width: '1920' },
      { image: '13', type: 'screenshot', height: '1080', width: '1920' },
      { image: '14', type: 'screenshot', height: '1080', width: '1920' },
      { image: '15', type: 'screenshot', height: '1080', width: '1920' },
      { image: '16', type: 'screenshot', height: '1080', width: '1920' },
      { image: '17', type: 'screenshot', height: '1080', width: '1920' },
    ],
    link: 'https://www.venatus.com/'
  })

  +template({
    id: 'adinplay',
    title: 'ADINPLAY',
    company: 'Venatus Media Limited',
    role: 'Webflow Developer',
    technologies: 'Webflow · JavaScript',
    label: 'Launch Website',
    gallery: [
      { image: '1', type: 'screenshot', height: '1080', width: '1920' },
      { image: '2', type: 'screenshot', height: '1080', width: '1920' },
      { image: '3', type: 'screenshot', height: '1080', width: '1920' },
      { image: '4', type: 'screenshot', height: '1080', width: '1920' },
    ],
    link: 'https://www.adinplay.com/'
  })

  //- +template({
  //-   id: 'bruno-arizio',
  //-   title: 'BRUNO ARIZIO',
  //-   company: 'Freelance',
  //-   role: 'Creative Developer',
  //-   technologies: 'WebGL · GLSL · JavaScript',
  //-   label: 'Case Study URL',
  //-   gallery: [
  //-     { image: '1', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '2', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '3', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '4', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '5', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '6', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '7', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '8', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '9', type: 'screenshot', height: '1080', width: '1920' },
  //-   ],
  //-   link: 'https://www.behance.net/gallery/89455165/Bruno-Arizio-Portfolio'
  //- })

  //- +template({
  //-   id: 'dominic-berzins',
  //-   title: 'DOMINIC BERZINS',
  //-   company: 'Freelance',
  //-   role: 'Creative Developer',
  //-   technologies: 'WebGL · GLSL · JavaScript',
  //-   label: 'Launch Website',
  //-   gallery: [
  //-     { image: '1', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '2', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '3', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '4', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '5', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '6', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '7', type: 'screenshot', height: '1080', width: '1920' },
  //-   ],
  //-   link: 'https://dominic.bz/'
  //- })

  //- +template({
  //-   id: 'pagethink',
  //-   title: 'PAGETHINK',
  //-   company: 'Antinomy',
  //-   role: 'Creative Developer',
  //-   technologies: 'WordPress · JavaScript',
  //-   label: 'Launch Website',
  //-   gallery: [
  //-     { image: '1', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '2', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '3', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '4', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '5', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '6', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '7', type: 'screenshot', height: '1080', width: '1920' },
  //-   ],
  //-   link: 'https://www.pagethink.com/'
  //- })

  //- +template({
  //-   id: 'neoway',
  //-   title: 'NEOWAY',
  //-   company: 'SOLID',
  //-   role: 'Creative Developer',
  //-   technologies: 'WebGL · GLSL · JavaScript',
  //-   label: 'Launch Website',
  //-   gallery: [
  //-     { image: '1', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '2', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '3', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '4', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '5', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '6', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '7', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '8', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '9', type: 'screenshot', height: '1080', width: '1920' },
  //-   ],
  //-   link: 'https://www.linkedin.com/posts/rise-new-york_independent-advertising-agency-activity-6553695483888451584-ejxI/'
  //- })

  //- +template({
  //-   id: 'cult',
  //-   title: 'CULT',
  //-   company: 'Freelance',
  //-   role: 'Creative Developer',
  //-   technologies: 'WordPress · Canvas · JavaScript',
  //-   label: 'Launch Website',
  //-   gallery: [
  //-     { image: '1', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '2', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '3', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '4', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '5', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '6', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '7', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '8', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '9', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '10', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '11', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '12', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '13', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '14', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '15', type: 'screenshot', height: '1080', width: '1920' },
  //-   ],
  //-   link: 'https://cultldn.com/'
  //- })

  //- +template({
  //-   id: 'movida',
  //-   title: 'MOVIDA',
  //-   company: 'Royalpixel',
  //-   role: 'Creative Developer',
  //-   technologies: 'Phaser · JavaScript · React Native',
  //-   label: 'App Store URL',
  //-   gallery: [
  //-     { image: '1', type: 'portrait', height: '667', width: '375' },
  //-     { image: '2', type: 'portrait', height: '667', width: '375' },
  //-     { image: '3', type: 'portrait', height: '667', width: '375' },
  //-     { image: '4', type: 'portrait', height: '667', width: '375' },
  //-     { image: '5', type: 'portrait', height: '667', width: '375' },
  //-     { image: '6', type: 'portrait', height: '667', width: '375' },
  //-     { image: '7', type: 'portrait', height: '667', width: '375' },
  //-     { image: '8', type: 'portrait', height: '667', width: '375' },
  //-     { image: '9', type: 'portrait', height: '667', width: '375' },
  //-   ],
  //-   link: 'https://apps.apple.com/br/app/movida-kids/id1337822375'
  //- })

  //- +template({
  //-   id: 'lufthansa-2',
  //-   title: 'LUFTHANSA',
  //-   company: 'UNIT9',
  //-   role: 'Creative Developer',
  //-   technologies: 'WebGL · GLSL · JavaScript',
  //-   label: 'Case Study URL',
  //-   gallery: [
  //-     { image: '1', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '2', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '3', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '4', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '5', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '6', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '7', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '8', type: 'screenshot', height: '1080', width: '1920' },
  //-   ],
  //-   link: 'https://www.unit9.com/project/lufthansa-sayyestotheworld-2/'
  //- })

  //- +template({
  //-   id: 'tiaa',
  //-   title: 'TIAA',
  //-   company: 'UNIT9',
  //-   role: 'Creative Developer',
  //-   technologies: 'Canvas · React · JavaScript',
  //-   label: 'Case Study URL',
  //-   gallery: [
  //-     { image: '1', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '2', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '3', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '4', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '5', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '6', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '7', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '8', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '9', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '10', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '11', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '12', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '13', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '14', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '15', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '16', type: 'screenshot', height: '1080', width: '1920' },
  //-   ],
  //-   link: 'https://www.unit9.com/project/tiaa-difference-maker/'
  //- })

  //- +template({
  //-   id: 'lufthansa-1',
  //-   title: 'LUFTHANSA',
  //-   company: 'UNIT9',
  //-   role: 'Creative Developer',
  //-   technologies: 'WebGL · GLSL · JavaScript',
  //-   label: 'Case Study URL',
  //-   gallery: [
  //-     { image: '1', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '2', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '3', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '4', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '5', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '6', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '7', type: 'screenshot', height: '1080', width: '1920' },
  //-   ],
  //-   link: 'https://www.unit9.com/project/lufthansa-sayyestotheworld/'
  //- })

  //- +template({
  //-   id: 'shell',
  //-   title: 'SHELL',
  //-   company: 'UNIT9',
  //-   role: 'Creative Developer',
  //-   technologies: 'WebGL · GLSL · JavaScript',
  //-   label: 'Launch Website',
  //-   gallery: [
  //-     { image: '1', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '2', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '3', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '4', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '5', type: 'screenshot', height: '1080', width: '1920' },
  //-   ],
  //-   link: 'http://shell-bts-master.thisisnotbranded.com/ontopoftheworld/en'
  //- })

  //- +template({
  //-   id: 'corvette',
  //-   title: 'CORVETTE',
  //-   company: 'UNIT9',
  //-   role: 'Creative Developer',
  //-   technologies: 'WebGL · GLSL · JavaScript',
  //-   label: 'Case Study URL',
  //-   gallery: [
  //-     { image: '1', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '2', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '3', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '4', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '5', type: 'screenshot', height: '1080', width: '1920' },
  //-   ],
  //-   link: 'https://www.unit9.com/project/corvette-modules/'
  //- })

  //- +template({
  //-   id: 'nike',
  //-   title: 'NIKE',
  //-   company: 'UNIT9',
  //-   role: 'Creative Developer',
  //-   technologies: 'Phaser · JavaScript',
  //-   label: 'Launch Website',
  //-   gallery: [
  //-     { image: '1', type: 'landscape', height: '414', width: '736' },
  //-     { image: '2', type: 'landscape', height: '414', width: '736' },
  //-     { image: '3', type: 'landscape', height: '414', width: '736' },
  //-     { image: '4', type: 'landscape', height: '414', width: '736' },
  //-     { image: '5', type: 'landscape', height: '414', width: '736' },
  //-     { image: '6', type: 'landscape', height: '414', width: '736' },
  //-     { image: '7', type: 'landscape', height: '414', width: '736' },
  //-     { image: '8', type: 'landscape', height: '414', width: '736' },
  //-     { image: '9', type: 'landscape', height: '414', width: '736' },
  //-     { image: '10', type: 'landscape', height: '414', width: '736' },
  //-   ],
  //-   link: 'http://nikecityfast.co.uk/'
  //- })

  //- +template({
  //-   id: 'airbnb',
  //-   title: 'AIRBNB',
  //-   company: 'UNIT9',
  //-   role: 'Creative Developer',
  //-   technologies: 'Angular · Redux · JavaScript',
  //-   label: 'Case Study URL',
  //-   gallery: [
  //-     { image: '1', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '2', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '3', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '4', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '5', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '6', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '7', type: 'screenshot', height: '1080', width: '1920' },
  //-   ],
  //-   link: 'https://www.unit9.com/project/airbnb-family-trips/'
  //- })

  //- +template({
  //-   id: 'discovery-kids',
  //-   title: 'DISCOVERY KIDS',
  //-   company: 'Royalpixel',
  //-   role: 'Creative Developer',
  //-   technologies: 'Phaser · JavaScript',
  //-   label: 'Launch Website',
  //-   gallery: [
  //-     { image: '1', type: 'screenshot', height: '650', width: '1156' },
  //-     { image: '2', type: 'screenshot', height: '650', width: '1156' },
  //-     { image: '3', type: 'screenshot', height: '650', width: '1156' },
  //-     { image: '4', type: 'screenshot', height: '650', width: '1156' },
  //-     { image: '5', type: 'screenshot', height: '650', width: '1156' },
  //-     { image: '6', type: 'screenshot', height: '650', width: '1156' },
  //-     { image: '7', type: 'screenshot', height: '650', width: '1156' },
  //-     { image: '8', type: 'screenshot', height: '650', width: '1156' },
  //-     { image: '9', type: 'screenshot', height: '650', width: '1156' },
  //-     { image: '10', type: 'screenshot', height: '650', width: '1156' },
  //-     { image: '11', type: 'screenshot', height: '650', width: '1156' },
  //-     { image: '12', type: 'screenshot', height: '650', width: '1156' },
  //-   ],
  //-   link: 'https://lhbizarro.github.io/doki/game-es/'
  //- })

  //- +template({
  //-   id: 'rock-in-rio',
  //-   title: 'ROCK IN RIO',
  //-   company: 'Royalpixel',
  //-   role: 'Creative Developer',
  //-   technologies: 'WebGL · GLSL · JavaScript',
  //-   label: 'Launch Website',
  //-   gallery: [
  //-     { image: '1', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '2', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '3', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '4', type: 'screenshot', height: '1080', width: '1920' },
  //-     { image: '5', type: 'screenshot', height: '1080', width: '1920' },
  //-   ],
  //-   link: 'https://believe.earth/earth/'
  //- })

