mixin template(id, title, direction)
  li.home__item(class=`home__item--${id}`)
    a.home__link(href=`/case/${id}`)
      span.home__link__wrapper=title
        img.home__link__media(loading="lazy" alt=`${title} Project Preview` data-direction=direction data-src=`/projects/${id}.png` data-src-webp=`/projects/${id}.webp`)

section.home
  .home__background
    .home__background__top
    .home__background__bottom

  .home__wrapper
    ul.home__list
      +template('caasocio', 'CAASOCIO', 'right')
      //- +template('diners-club', 'DINERS CLUB', 'left')
      +template('micheal-moon', 'MICHEAL MOON', 'left')
      //- +template('vanitee', 'VANITEE', 'right')
      //- +template('dcscc', 'DCS CARD CENTRE', 'left')
      +template('angely-dub', 'ANGELY DUB', 'right')
      +template('access-travel', 'ACCESS TRAVEL', 'right')
      +template('explora-ahora', 'EXPLORA AHORA', 'left')
      +template('collabfive', 'COLLAB FIVE', 'left')
      +template('retrato', 'RETRATO.PH', 'right')
      +template('venatus', 'VENATUS', 'left')
      +template('adinplay', 'ADINPLAY', 'right')
      +template('simmer-studios', 'SIMMER STUDIOS', 'left')
      +template('gaslight-district', 'GASLIGHT DISTRICT', 'right')
      +template('hip-developments', 'HIP DEVELOPMENTS', 'left')
